<%= form_with(model: detail) do |form| %>
  <% if detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

      <ul>
        <% detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.number_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :occupation %>
    <%= form.text_field :occupation %>
  </div>

  <div class="field">
    <%= form.label :byuser %>
    <%= form.text_field :byuser %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
