<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @detail.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @detail.phone_number %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @detail.occupation %>
</p>

<p>
  <strong>Byuser:</strong>
  <%= @detail.byuser %>
</p>

<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
